.about-us {
  padding: 0 30px;
  margin-bottom: 30px;
}

.about-us__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-title;
}

.about-us__list {
  margin: 0;
  @include reset-ul;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.about-us__item {
  margin-bottom: 25px;
  padding-top: 58px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $text-color-title;


  &--material {
    background: url("../img/icon-feature-1.svg") no-repeat 9px 4px;
  }

  &--style {
    background: url("../img/icon-feature-3.svg") no-repeat 1px 5px;
  }

  &--like {
    background: url("../img/icon-feature-5.svg") no-repeat 9px 10px;
  }

  &--handmade {
    background: url("../img/icon-feature-2.svg") no-repeat 4px 7px;
  }

  &--manufacturer {
    background: url("../img/icon-feature-4.svg") no-repeat -5px 8px;
  }

  &--wrap {
    background: url("../img/icon-feature-6.svg") no-repeat 4px 6px;
  }
}

@media #{$tablet-widths} {
  .about-us {
    margin-bottom: 32px;
    padding: 0 50px;
  }

  .about-us__title {
    margin-bottom: 47px;
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    padding-left: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
  }

  .about-us__item {
    margin-bottom: 0;
    padding-right: 37px;

    width: 50%;
    min-height: 154px;
    font-size: 20px;
    line-height: 22px;

      &:nth-child(1) {
        -ms-flex-order: 1;
            order: 1;
      }

      &:nth-child(2) {
        -ms-flex-order: 3;
            order: 3;
      }

      &:nth-child(3) {
        -ms-flex-order: 5;
            order: 5;
      }

      &:nth-child(4) {
        -ms-flex-order: 2;
            order: 2;
      }
      &:nth-child(5) {
        -ms-flex-order: 4;
            order: 4;
      }
      &:nth-child(6) {
        -ms-flex-order: 6;
            order: 6;
      }
  }
}

@media #{$desktop-widths} {
  .about-us {
    padding-left: 221px;
  }

  .about-us__list {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
  .about-us__item {
    padding-right: 55px;
    width: 40%;
    font-size: 20px;
  }
}
