.btn {
  display: block;
  padding: 15px 0;
  border: solid 2px $text-color-content;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  color:$text-color-content;

  /* MODIFICATORS */
  &--size-select {
    padding: 18px 0;
    width: 100%;
    background: #63d1bb;
    color: #fff;
    border: none;
  }

  &--form-order {
    width: 100%;
    background: #fff;
   }

  &:hover {
    background: #444444;
    color: #fff;
  }

  &:active {
    background: #444444;
    color: rgba(255, 255, 255, 0.3);
  }
   /*-----  End of MODIFICATORS  ------*/
}

@media #{$tablet-widths} {
  .btn {
    &--form-order {
      margin-left: 50px;
      float: left;
      width: 30%;
      background: #fff;
     }
  }
}

@media #{$desktop-widths} {
  .btn {
    &--form-order {
      margin-left: 225px;
      float: left;
      width: 20%;
      background: #fff;
     }
  }
}
