.catalog-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
  border: solid 1px #ededed;
}

.catalog-item:hover .catalog-item__description-wrapper {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.catalog-item__description-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 22px 28px;
}

.catalog-item__name {

  width: 100%;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-item__link,
.catalog-item__price {
  text-decoration: none;
  color: $text-color-title;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog-item__description {
  margin-bottom: 14px;
  width: 100%;
  font-size: 13px;
  line-height: 41px;
  font-weight: 400;
  color: $text-color-content;
}

.catalog-item__block-price {
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 21px;
  border-top: solid 1px #ececec;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-item__icon-cart {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.catalog-item__icon-cart-color {
  fill: rgba(0, 0, 0, 0.2);
}

.catalog-item__icon-cart-color:hover {
  fill: rgba(99, 209, 187, 1);
}

.catalog-item__icon-cart-color:active {
  fill: rgba(99, 209, 187, 0.3);
}

@media #{$tablet-widths} {
  .catalog-item {
    margin-bottom: 56px;
    flex-wrap: nowrap;
    height: 333px;
  }

  .catalog-item__block-price {

  }

  .catalog-item__icon-cart {
  padding-right: 3px;
  }

  .catalog-item__link {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-item__name {

  }

  .catalog-item__price {
    padding-left: 4px;
    font-size: 17px;
    line-height: 24px;
  }

  .catalog-item__image {
    width: 332px;
    height: 331px;
  }

  .catalog-item__description-wrapper {
    padding: 25px 28px;
    flex-direction: column;
    width: 334px;
  }

  .catalog-item__description {
    padding-top: 3px;
    flex-grow: 1;
    font-size: 15px;
    line-height: 30px;

    &--margin-bottom {
      margin-bottom: 16px;
    }
  }
}

@media #{$desktop-widths} {
  .catalog-item {
    margin-right: 50px;
    height: auto;
    flex-wrap: wrap;

    &:last-child {
      margin-right: 0;
    }
  }

  .catalog-item__name {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .catalog-item__price {
    padding-left: 0;
    font-size: 17px;
  }

  .catalog-item__image {
    width: 315px;
    height: 463px;
  }

  .catalog-item__block-price {
    padding-top: 22px;
    margin: 0;
  }

  .catalog-item__description-wrapper {
    padding: 25px 28px;
    width: 315px;
    justify-content: space-between;
    min-height: 194px;
  }

  .catalog-item__description {
    margin: 2px 0 0 0;
  }
}
