.catalog-section {
  padding: $wrapper-content;
}

@media #{$tablet-widths} {
  .catalog-section {
    padding-top: 80px;
  }

}

@media #{$desktop-widths} {
  .catalog-section {
    font-size: 0;
  }

}
