.catalog-section {
  padding: $wrapper-content;
}

@media (min-width: 768px) {
  .catalog-section {
    padding-top: 80px;
  }

}

@media (min-width: 1150px) {
  .catalog-section {
    font-size: 0;
  }

}
