.catalog-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 31px;
  border: solid 1px #ededed;
}

.catalog-item__description-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 26px 28px;
}

.catalog-item__name {
  margin: 0;
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-item__link {
  text-decoration: none;
  color: $text-color-title;
}

.catalog-item__description {
  margin-bottom: 14px;
  width: 100%;
  font-size: 13px;
  line-height: 41px;
  font-weight: 400;
  color: $text-color-content;
}

.catalog-item__block-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  border-top: solid 1px #ececec;
}

.catalog-item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-item__icon-cart {
  padding: 0;
  flex-grow: 1;
  cursor: pointer;
  border: none;
  outline: none;
  background: url("../img/icon-cart.svg") no-repeat right;
}

@media #{$tablet-widths} {
  .catalog-item {
    margin-bottom: 54px;
    flex-wrap: nowrap;
  }

  .catalog-item__image {
    width: 332px;
    height: 331px;
  }

  .catalog-item__description-wrapper {
    flex-direction: column;
    float: right;
    width: 334px;
  }

  .catalog-item__description {
    flex-grow: 1;
    margin-bottom: 40px;

    &--margin-bottom {
      margin-bottom: 16px;
    }
  }
}

@media #{$desktop-widths} {
  .catalog-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  .catalog-item__name {
    font-size: 20px;
  }

  .catalog-item__price {
    font-size: 17px;
  }

  .catalog-item__image {
    width: 313px;
    height: 463px;
  }

  .catalog-item__block-price {
    padding-top: 22px;
  }

  .catalog-item__description-wrapper {
    float: none;
    width: 313px;
  }
  .catalog-item__description {
    margin-bottom: 30px;

    &--margin-bottom {
      margin-bottom: 6px;
    }

  }
}
