.charters {
  margin: -55px 0 0 0;
  display: flex;
  flex-direction: column;
}

@media #{$tablet-widths} {
  .charters {
    margin-bottom: 47px;
    position: relative;
    margin-top: -116px;
    padding: 0 50px;
    flex-direction: row;

    &:after {
      position: absolute;
      left: 0;
      top: 101px;
      content: "";
      height: 34px;
      width: 100%;
      background: url("../img/bg-zigzag-fill.svg") no-repeat center;
      background-size: 778px;
    }
  }
}

@media #{$desktop-widths} {
  .charters {
    &:after {
      background-size: 1167px;
    }
  }
}
