.charters {
  margin: 0;
  @include reset-ul;

  &--position {
    margin-top: -68px;
  }
}

.charter {
  padding: 27px 30px;

  /* MODIFICATORS */
  &--interior {
    background: #63d1bb url("../img/icon-interior.svg") no-repeat 242px 30px;
  }

  &--toy {
    background: #56c3b2 url("../img/icon-toy.svg") no-repeat 232px 30px;
  }
  /*-----  End of MODIFICATORS  ------*/
}

.charter__link {
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

@media #{$tablet-widths} {
  .charters {
    margin-top: -16px;
    padding: 0 50px;
  }

  .charter {
    padding-top: 31px;
    padding-left: 35px;
  }
}

@media #{$desktop-widths} {
  .container {
    width: 1150px;
    margin: 0 auto;
  }
  .charter {
    &--interior {
      background-position-x: 420px;
    }

    &--toy {
      background-position-x: 420px;
    }

  }
}
