.charters {
  margin: -55px 0 0 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

@media #{$tablet-widths} {
  .charters {
    margin-bottom: 47px;
    position: relative;
    margin-top: -116px;
    padding: 0 50px;
    -ms-flex-direction: row;
        flex-direction: row;

    &:after {
      position: absolute;
      left: 0;
      top: 101px;
      content: "";
      height: 34px;
      width: 100%;
      background: url("../img/bg-zigzag-fill.svg") no-repeat center;
      background-size: 778px;
    }
  }
}

@media #{$desktop-widths} {
  .charters {
    margin-bottom: 126px;
    &:after {
      background-size: 1167px;
    }
  }
}
