.contact {
   padding: $wrapper-content;
   padding-top: 57px;
}

.contact__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-title;
}

.contact__address {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color-content;
}

.contact__mail-link {
  text-decoration: none;
  color: $text-color-content;
  border-bottom: solid 1px #62d1ba;
}

.contact__field {
  float: left;
  padding: 10px 0;
}

.contact__value {
  margin-bottom: 11px;
  padding: 10px 0;
  margin-left: 80px;
  }

.contact__wrapper {
  margin-bottom: 27px;
}

@media #{$tablet-widths} {
  .contact {
    padding: $wrapper-content-tablet;
    padding-bottom: 0;
  }

  .contact__title {
    margin-bottom: 39px;
    font-size: 43px;
    line-height: 50px;
  }

  .contact__address {
    @include clearfix();
  }

  .contact__value {
    margin-left: 40px;
    float: left;
  }

  .contact__mail-link {
    margin-right: 60px;
  }

  .contact__wrapper {
    margin-bottom: 35px;
  }
}

@media #{$desktop-widths} {
  .contact {
    margin-bottom: 53px;
    position: relative;
    padding-left: 225px;
  }

  .contact__title {
    font-size: 53px;
    line-height: 57px;
  }

  .contact__value {
    margin-left: 90px;
    float: none;
  }
}
