.contact {
   padding: $wrapper-content;
}

.contact__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-title;
}

.contact__address {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color-content;
}

.contact__mail-link {
  text-decoration: none;
  color: $text-color-content;
  border-bottom: solid 1px #62d1ba;
}

.contact__field {
  float: left;
  padding: 10px 0;
}

.contact__value {
  padding: 10px 0;
  padding-left: 50px;
  }




@media (min-width: 768px) {
  .contact__title {
    font-size: 43px;
    line-height: 50px;
  }
  .contact__address {
    @include clearfix();
  }
  .contact__value {
    padding-left: 0;
    float: left;
  }
  .contact__mail-link {
    margin-right: 100px;
  }
}

@media (min-width: 1150px) {
  .contact {
    padding-left: 225px;
  }
  .contact__title {
    font-size: 53px;
    line-height: 57px;
  }
  .contact__value {
    float: none;
  }
}
