.form-order {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.form-order__flex-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.form-order__text {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-content;
}

.form-order__field {
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-top: solid 1px #63d1bb;

  &--tel {
    position: relative;
  }

  &--color {
    margin-bottom: 11px;
  }

  &--text {
    margin-bottom: 33px;
  }

  &--email {
    margin-bottom: 33px;
    position: relative;
  }

  &--dop {
    margin-bottom: 6px;
  }
}

.form-order__field-title {
  margin-left: -4px;
  margin-bottom: 20px;
  padding-right: 29px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;

  &--color {
    padding-right: 20px;
    margin-bottom: 25px;
  }

  &--name {
    padding-right: 22px;
    margin-bottom: 33px;
  }

  &--tel {
    margin-bottom: 8px;
  }

  &--email {
    padding-top: 6px;
    margin-bottom: 8px;
  }

  &--dop {
    margin-bottom: 33px;
  }
}

.form-order__field-title-icon-email {
  position: absolute;
  top: 40px;
  right: 5px;
  fill: rgba(0, 0, 0, 0.2);
}

.form-order__field-title-icon-tel {
  position: absolute;
  top: 35px;
  right: 8px;
  fill: rgba(0, 0, 0, 0.2);
}

input[type="tel"]:hover + .form-order__field-title-icon-tel,
input[type="email"]:hover + .form-order__field-title-icon-email {
  fill: rgba(98, 209, 186, 1);
}

input[type="tel"]:focus + .form-order__field-title-icon-tel,
input[type="email"]:focus + .form-order__field-title-icon-email {
  fill: rgba(98, 209, 186, 1);
}

input[type="tel"]:invalid + .form-order__field-title-icon-tel,
input[type="email"]:invalid + .form-order__field-title-icon-email {
  fill: rgba(0, 0, 0, 0.2);
}

@media #{$tablet-widths} {
  .form-order {
    margin-bottom: 55px;
  }

  .form-order__flex-wrapper {
    &--color {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-direction: row;
          flex-direction: row;
    }

    &--button {
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between;
    }
  }

  .form-order__field {
    -ms-flex-direction: row;
        flex-direction: row;
    position: relative;
    margin-bottom: 0;
    padding: 77px 0 21px;
    padding-left: 217px;
    border: none;
    background: #f1f1f1;

    &--radio {
      margin-bottom: 34px;
      padding: 0;
      padding-left: 217px;
      background: none;
    }

    &--text {
      padding: 62px 0 66px;
      padding-left: 217px;
      padding-right: 50px;
      background: none;
    }

    &--tel {
      padding-top: 50px;
      padding-bottom: 0;
      margin-bottom: 0;
      background: #f1f1f1;
    }

    &--email {
      padding-top: 20px;
      padding-bottom: 69px;
      background: #f1f1f1;
    }

    &--dop {
      padding-bottom: 48px;
    }
  }

  .form-order__field-title {
    margin-left: 0;
    position: absolute;
    top: 78px;
    left: 49px;

    &--radio {
      top: 24px;
      left: 49px;
    }

    &--text {
      top: 67px;
    }

    &--tel {
      top: 71px;
      left: 50px;
    }

    &--email {
      top: 35px;
      left: 51px;
    }

    &--dop {
      top: 81px;
    }
  }

  .form-order__text {

    font-size: 17px;
    line-height: 30px;

    &--top {
      margin-bottom: 50px;
    }

    &--bottom {
      margin: 8px 50px 0 0;
      -ms-flex-order: 2;
          order: 2;
    }
  }
.form-order__field-title-icon-email {
  top: 36px;
  right: 73px;
}

.form-order__field-title-icon-tel {
  top: 66px;
  right: 77px;
 }
}

@media #{$desktop-widths} {
  .form-order__field {
    padding-left: 225px;

    &--color {
      margin-bottom: 2px;
    }

    &--text {
      padding-right: 225px;
    }

    &--dop {
      padding-bottom: 84px;
    }
  }

  .form-order__field-title {
    left: 112px;

    &--color {
      left: 108px;
    }

    &--text {
      left: 110px;
    }

    &--email {
      left: 101px;
    }
  }

  .form-order__flex-wrapper {
    &--text {
      padding-top: 2px;
    }
  }

  .form-order__text {
    font-size: 17px;
    line-height: 30px;

    &--bottom {
      margin: 12px 225px 0 0;
      float: right;
    }
  }

  .form-order__field-title-icon-email {
    top: 36px;
    right: 229px;
  }

  .form-order__field-title-icon-tel {
    top: 66px;
    right: 233px;
  }
}
