.form-order__text {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-content;
}

@media #{$tablet-widths} {
  .form-order {
    margin-bottom: 50px;
    @include clearfix();
  }
  .form-order__text {

    font-size: 17px;
    line-height: 30px;

    &--top {
      margin-bottom: 50px;
    }

    &--bottom {
      margin: 12px 50px 0 0;
      float: right;
    }
  }
}

@media #{$desktop-widths} {
  .form-order__text {
    font-size: 17px;
    line-height: 30px;

    &--bottom {
      margin: 12px 225px 0 0;
      float: right;
    }
  }
}
