* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $text-color-content;
  font-weight: 400;
  background: #fff;
}

fieldset {
  margin: 0;
}
