* {
  box-sizing: border-box;
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;

  src: url("fonts/opensans.woff2") format("woff2"),
  url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;

  src: url("fonts/opensansbold.woff2") format("woff2"),
  url("fonts/opensansbold.woff") format("woff");
}

body {
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: $text-color-content;
  font-weight: 400;
  background: #fff;
}

fieldset {
  margin: 0;
}

input {
  outline: none;
}

label {
  cursor: pointer;
}

::-webkit-input-placeholder { font-size: 17px;
                              line-height: 18px;
                              font-weight: 400;
                              color: rgba(68, 68, 68, 0.3); }
::-moz-placeholder          { font-size: 17px;
                              line-height: 18px;
                              font-weight: 400;
                              color: rgba(68, 68, 68, 0.3); }
:-ms-input-placeholder      { font-size: 17px;
                              line-height: 18px;
                              font-weight: 400;
                              color: rgba(68, 68, 68, 0.3); }

@media #{$tablet-widths} {
  ::-webkit-input-placeholder { padding-left: 15px;
                                font-size: 19px;
                                line-height: 18px; }
  ::-moz-placeholder          { padding-left: 15px;
                                font-size: 19px;
                                line-height: 18px; }
  :-ms-input-placeholder      { padding-left: 15px;
                                font-size: 19px;
                                line-height: 18px; }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
