.info-block {
  padding: $wrapper-content;
}

.info-block__wrapper {
  border: solid 1px #ededed;
}

.info-block__title {
  margin: 0;
  position: relative;
  padding: 10px 0;
  padding-left: 66px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-title;

  &::before {
    position: absolute;
    content:"";
    left: 30px;
    width: 40px;
    height: 40px;
    background: url("../img/icon-video.svg") no-repeat center;
  }
}

.info-block__wrapper-description {
  padding: $wrapper-content;
}

.info-block__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-content;
}

@media #{$tablet-widths} {
  .info-block {
    padding: $wrapper-content-tablet;
  }

  .info-block__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info-block__video {
    width: 668px;
    height: 453px;
    background: #ccc;
  }

  .info-block__wrapper-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 264px;
}

  .info-block__title {

    &::before {
      position: absolute;
      content:"";
      left: -4px;
      top: 0;
      width: 40px;
      height: 40px;
      background: url("../img/icon-video.svg") no-repeat center;
    }
  }
}

@media #{$desktop-widths} {
  .info-block {
    @include clearfix();
  }

  .info-block__wrapper {
    flex-direction: row;
  }

  .info-block__video {
    flex-basis: 682px;
    height: 450px;
    background: #ccc;
  }

  .info-block__description {
    margin: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .info-block__wrapper-description {
    justify-content: space-around;
    flex-basis: 350px;
  }

  .info-block__title {
    margin-top: 50px;
    position: relative;
    padding-left: 0;
    padding-right: 150px;

    &::before {
      position: absolute;
      content:"";
      left: -3px;
      top: -39px;
      width: 40px;
      height: 40px;
      background: url("../img/icon-video.svg") no-repeat center;
    }
  }
}
