.info-block {
  border: solid 1px #ededed;
}

.info-block__title {
  position: relative;
  padding: 10px 0;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-title;

  &::before {
    position: absolute;
    content:"";
    left: 30px;
    width: 40px;
    height: 40px;
    background: url("../img/icon-video.svg") no-repeat center;
  }
}

.info-block__wrapper {
  padding: $wrapper-content;
}

.info-block__description {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-content;
}

@media (min-width: 768px) {
  .info-block {
    position: relative;
  }
  .info-block__video {
    width: 668px;
    height: 453px;
  }
  .info-block__title {
    position: absolute;
    bottom: 128px;

    &::before {
      position: absolute;
      content:"";
      left: 30px;
      top: 0;
      width: 40px;
      height: 40px;
      background: url("../img/icon-video.svg") no-repeat center;
    }
  }
}

@media (min-width: 1150px) {
  .info-block {
    @include clearfix();
  }
  .info-block__video {
    width: 700px;
    height: 450px;
  }
  .info-block__description {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 30px;
  }
  .info-block__wrapper {
    margin-top: 134px;
    float: right;
    width: 350px;
  }
  .info-block__title {
    position: absolute;
    top: 68px;
    right: 129px;
    width: 26%;

    &::before {
      position: absolute;
      content:"";
      left: 88px;
      top: -47px;
      width: 40px;
      height: 40px;
      background: url("../img/icon-video.svg") no-repeat center;
    }
  }
}
