.info-block {
  margin-bottom: 31px;
  padding: $wrapper-content;
  padding-top: 0;
}

.info-block__wrapper {
  border: solid 1px #ededed;
}

.info-block__title {
  margin: 0;
  position: relative;
  padding: 10px 0;
  padding-left: 59px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-title;

  &::before {
    position: absolute;
    content:"";
    left: -1px;
    top: 12px;
    width: 40px;
    height: 40px;
    background: url("../img/icon-video.svg") no-repeat center;
  }
}

.info-block__wrapper-description {
  padding: 32px 32px;
}

.info-block__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-content;
}

@media #{$mobile-widths-only} {
  .info-block__wrapper {
    position: relative;
  }

  .info-block__video {
    margin-top: 97px;
    min-height: 141px;
    background: #ccc;
  }

  .info-block__description {
    margin-bottom: 49px;
  }

  .info-block__title {
    position: absolute;
    top: 15px;
  }
}

@media #{$tablet-widths} {
  .info-block {
    margin-bottom: 39px;
    padding: $wrapper-content-tablet;
    padding-top: 0;
  }

  .info-block__description {
    font-size: 15px;
    line-height: 30px;
  }

  .info-block__wrapper {
    padding-bottom: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }

  .info-block__video {
    width: 668px;
    height: 453px;
    background: #ccc;
  }

  .info-block__wrapper-description {
    padding: 17px 41px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
    min-height: 255px;
}

  .info-block__title {
    padding: 0;
    padding-top: 19px;
    font-size: 20px;
    padding-left: 63px;

    &::before {
      position: absolute;
      content:"";
      left: -6px;
      top: 11px;
      width: 40px;
      height: 40px;
      background: url("../img/icon-video.svg") no-repeat center;
    }
  }
}

@media #{$desktop-widths} {
  .info-block {
    margin-bottom: 76px;
    @include clearfix();
  }

  .info-block__wrapper {
    padding: 0;
    -ms-flex-direction: row;
        flex-direction: row;
  }

  .info-block__video {
    -ms-flex-preferred-size: 682px;
        flex-basis: 682px;
    height: 456px;
    background: #ccc;
  }

  .info-block__description {
    -ms-flex-positive: 1;
        flex-grow: 1;
    margin: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .info-block__wrapper-description {
    padding: 62px 55px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-preferred-size: 342px;
        flex-basis: 342px;
  }

  .info-block__title {
    margin-bottom: 32px;
    padding: 0;
    margin-top: 36px;
    position: relative;


    &::before {
      position: absolute;
      content:"";
      left: -4px;
      top: -60px;
      width: 40px;
      height: 40px;
      background: url("../img/icon-video.svg") no-repeat center;
    }
  }
}
