.page-order {
  padding: $wrapper-content;
}

.page-order__text {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-content;
}

@media #{$tablet-widths} {
  .page-order {
    padding: 0;
    padding-top: 81px;
  }
  .page-order__text {
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;

    &--top {
      margin-bottom: 50px;
    }
  }
}

@media #{$desktop-widths} {
  .page-order__text {
    padding: 0 225px;
  }
}
