.page-title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  font-weight: 700;
  margin: 0;

  &--catalog {
    color: $page-title-catalog-color;
  }

  &--form {
    color: $page-title-form-color;
  }
}

@media #{$tablet-widths} {
  .page-title {
    padding: 0 100px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media #{$desktop-widths} {
  .page-title {
    padding: 0 150px;
    font-size: 53px;
    line-height: 57px;
  }
}
