.page-header {
  position: relative;
  /*display: flex;
  justify-content: center;

  align-items: center;*/
}

.page-header__logo {
  text-align: center;
}

@media #{$tablet-widths} {
  .page-header {
    min-height: 89px;
    border-bottom: solid 1px #e7e7e7;
  }
  .page-header__logo {
    padding-left: 50px;
    text-align: left;
  }
}
