.page-footer {
  padding: $wrapper-content;
  background: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__copiyright {
  margin: 0;
  font-size: 19px;
  line-height: 20px;
  font-weight: 700;
  color: $text-color-title;
  text-align: center;
}

.page-footer__copiyright-link {
  margin-left: 30px;
  width: 27px;
  height: 34px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  background: url("../img/logo-htmlacademy.svg") no-repeat center;
}

@media #{$tablet-widths} {
  .page-footer {
    text-align: center;
    @include clearfix();
  }
  .page-footer__copiyright {
    display: inline-block;
    vertical-align: top;
    float: right;
  }
  .page-footer__logo {
    display: inline-block;
    vertical-align: top;
    float: left;
  }

}
