.product-item {
  padding: $wrapper-content;
}

.product-item__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-title;
}

.product-item__feature {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-item__description {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-content;
}

.product-item__options {
  position: relative;
}

.product-item__field {
  float: left;
  padding: 10px 0;
}

.product-item__value {
  margin: 0;
  padding: 10px 0;
  padding-left: 100px;
  border-bottom: solid 1px #ececec;
}

.product-item__price {
  padding: 20px 0;
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-content;
}

@media (min-width: 768px) {
  .product-item {
    position: relative;
    padding: $wrapper-content-tablet;
  }
  .product-item__header {
  @include clearfix;
  }
  .product-item__title {
    display: block;
    float: left;
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }
  .product-item__feature {
    padding-top: 16px;
    display: block;
    float: right;
    width: 100px;
    text-align: center;
  }
  .product-item__image {
    position: absolute;
    top: 143px;
    right: 51px;
  }
  .product-item__description,
  .product-item__options,
  .product-item__price,
  .product-item__btn {
    width: 43%;
  }
  .product-item__description {
    margin-top: 55px;
  }
}

@media (min-width: 1150px) {
  .product-item {
    padding-left: 225px;
  }
  .product-item__title {

    display: block;
    float: left;
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
  .product-item__description,
  .product-item__options,
  .product-item__price,
  .product-item__btn {
    width: 34%;
  }
  .product-item__header {
    position: relative;
  }
  .product-item__feature {
    position: absolute;
    left: -140px;
  }
}
