.product-item {
  margin-bottom: 27px;
  padding: 28px 30px;
  padding-bottom: 43px;
  background: url("../img/bg-zigzag-line.svg") no-repeat center;
  background-size: 350px;
  background-position-y: bottom;
}

.product-item__header {
  margin-bottom: 23px;
}

.product-item__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-title;
}

.product-item__feature {
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-item__description {
  margin: 0 0 25px 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $text-color-content;
}

.product-item__options {
  margin: 0 0 20px 0;
  position: relative;
  @include clearfix();
}

.product-item__field {
  float: left;
}

.product-item__value {
  margin: 0 0 9px 0;
  padding-left: 97px;
  padding-bottom: 8px;
  border-bottom: solid 1px #ececec;
}

.product-item__image {
  margin-bottom: 18px;
}

.product-item__price {
  margin-bottom: 27px;
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-content;
}

@media #{$tablet-widths} {
  .product-item {
    margin-bottom: 50px;
    position: relative;
    padding: 0 50px 69px;
    background-size: 790px;
  }
  .product-item__header {
    margin-bottom: 46px;
    @include clearfix;
  }
  .product-item__title {
    display: block;
    float: left;
    width: 500px;
    font-size: 43px;
    line-height: 50px;
  }
  .product-item__feature {
    margin-right: 12px;
    padding-top: 11px;
    display: block;
    float: right;
    width: 100px;
    text-align: center;
  }
  .product-item__image {
    position: absolute;
    top: 107px;
    right: 51px;
  }

  .product-item__description {
    margin-bottom: 44px;
    font-size: 17px;
    line-height: 30px;
  }

  .product-item__options {
    margin-bottom: 48px;
  }

  .product-item__price {
    margin-left: 5px;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  .product-item__description,
  .product-item__options,
  .product-item__price,
  .product-item__btn {
    width: 43%;
  }
}

@media #{$desktop-widths} {
  .product-item {
    padding-left: 225px;
    padding-bottom: 96px;
    margin-bottom: 59px;
    background-size: 1162px;
  }

  .product-item__title {
    margin: 0;
    display: block;
    float: left;
    width: 700px;
    font-size: 53px;
    line-height: 57px;
  }

  .product-item__description,
  .product-item__options,
  .product-item__price,
  .product-item__btn {
    width: 34%;
  }

  .product-item__description {
    margin-bottom: 57px;
    font-size: 17px;
    line-height: 30px;
  }

  .product-item__options {
    margin: 0;
    margin-bottom: 101px;
  }

  .product-item__price {
    margin-left: 2px;
    font-size: 20px;
    line-height: 24px;
  }

  .product-item__header {
    margin-bottom: 49px;
    position: relative;
  }

  .product-item__feature {
    position: absolute;
    left: -143px;
    top: 5px;
  }

  .product-item__image {
    top: -53px;
    z-index: -1;
  }

  .product-item__value {
    margin-bottom: 8px;
    padding-bottom: 9px;
  }
}
