.radio-btn {
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-top: solid 1px #63d1bb;
}

.radio-btn__group-title {
  margin-left: -4px;
  margin-bottom: 20px;
  padding-right: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.radio-btn__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

@media #{$tablet-widths} {
  .radio-btn {
    position: relative;
    margin-bottom: 50px;
    padding-left: 217px;
    border: none;
  }
  .radio-btn__group-title {
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 55px;
  }
  .radio-btn__label {
    font-size: 19px;
  }
}

@media #{$desktop-widths} {
  .radio-btn {
    padding-left: 225px;
  }
  .radio-btn__group-title {
    left: 117px;
  }
}
