.reviews {
  padding: $wrapper-content;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-title;
}

.reviews__content {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color-content;
}

.reviews__autor-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-title;
  font-style: normal;
}

.reviews__autor-link {
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color-content;
}
.reviews__arrows {
  margin-bottom: 20px;
}

.reviews__arrow {
  width: 50%;
  min-height: 50px;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 0;

  /* MODIFICATORS */
  &--prev {
    float: left;
    border-right: none;
    background: url("../img/icon-left-arrow.svg") no-repeat center;

  }

  &--next {
    background: url("../img/icon-right-arrow.svg") no-repeat center;
  }
  /*-----  End of MODIFICATORS  ------*/
}

@media (min-width: 768px) {
  .reviews {
    position: relative;
    padding: $wrapper-content-tablet;
    padding-top: 80px;
    background: url("../img/reviews.jpg") no-repeat;
  }
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
  }
  .reviews__content {
    margin: 25px 0 50px;
    font-size: 17px;
    line-height: 30px;
  }
  .reviews__btn {
    position: absolute;
    width: 175px;
    top: 33px;
    right: 50px;
  }
  .reviews__arrows {
    position: absolute;
    bottom: 40px;
    right: 50px;
    width: 167px;
  }
  .reviews__arrow {
    border: none;
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding-left: 225px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }
  .reviews__btn {
    top: 92px;
  }
}
