.reviews {
  margin-bottom: 35px;
  padding: 0 30px;
  padding-bottom: 52px;
  background: url("../img/bg-zigzag-line.svg") no-repeat center;
  background-size: 350px;
  background-position-y: bottom;
}

.reviews__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-color-title;
}

.reviews__content {
  margin: 0;margin-bottom: 26px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color-content;
}

.reviews__autor-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $text-color-title;
  font-style: normal;
}

.reviews__autor-link {
  display: block;
  padding-top: 3px;
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color-content;
}

.reviews__arrows {
  margin-bottom: 40px;
  display: -ms-flexbox;
  display: flex;
}

.reviews__arrow {
  width: 50%;
  min-height: 50px;
  background: #fff;
  border: solid 1px #ccc;
  font-size: 0;
  outline: none;

  /* MODIFICATORS */
  &--prev {
    border-right: none;
    background: url("../img/icon-left-arrow.svg") no-repeat center;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--next {
    background: url("../img/icon-right-arrow.svg") no-repeat center;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
  /*-----  End of MODIFICATORS  ------*/
}

@media #{$tablet-widths} {
  .reviews {
    position: relative;
    margin-bottom: 30px;
    padding: 77px 50px 101px;
    background: url("../img/reviews.jpg") no-repeat,
                url("../img/bg-zigzag-line.svg") no-repeat bottom;
    background-size: 350px auto, 787px auto;
    @media #{$retina} {
      background: url("../img/review@2x.jpg") no-repeat,
                  url("../img/bg-zigzag-line.svg") no-repeat bottom;
      background-size: 350px auto, 787px auto;
    }
  }

  .reviews__title {
    margin-bottom: 49px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__content {
    margin-bottom: 57px;
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__btn {
    position: absolute;
    width: 175px;
    top: 80px;
    right: 48px;
  }

  .reviews__arrows {
    position: absolute;
    top: 357px;
    right: 50px;
    width: 174px;
  }

  .reviews__arrow {
    border: none;
  }
}

@media #{$desktop-widths} {
  .reviews {
    margin-bottom: 108px;
    padding-left: 225px;
    padding-bottom: 155px;
    background: url("../img/reviews.jpg") no-repeat 50px 7px,
                url("../img/bg-zigzag-line.svg") no-repeat bottom;
    background-size: 350px auto, 1162px auto;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__btn {
    top: 87px;
  }

  .reviews__arrows {
    top: 315px;
  }

  .reviews__content {
    margin-bottom: 38px;
  }
}
