.social-block {
  @include reset-ul;
  margin-bottom: 23px;
  padding-bottom: 25px;
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #e5e5e5;
  font-size: 0;
}

.social-block__icon {
  margin-right: 31px;

  &:first-child {
    margin-left: 54px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social-block__link {
  display: block;
  width: 28px;
  height: 28px;

  /* MODIFICATORS */
  &--in {
    background: url("../img/icon-insta.svg") no-repeat center;
  }

  &--fb {
    background: url("../img/icon-fb.svg") no-repeat center;
  }

  &--tw {
    background: url("../img/icon-twitter.svg") no-repeat center;
  }
  /*-----  End of MODIFICATORS  ------*/
}

@media #{$tablet-widths} {
  .social-block {
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 34%;
    border: none;
  }

  .social-block__icon {
    margin-right: 31px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
