.social-block {
  @include reset-ul;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #e5e5e5;
  font-size: 0;
  text-align: center;
}

.social-block__icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social-block__link {
  display: block;
  width: 28px;
  height: 28px;

  /* MODIFICATORS */
  &--in {
    background: url("../img/icon-insta.svg") no-repeat center;
  }

  &--fb {
    background: url("../img/icon-fb.svg") no-repeat center;
  }

  &--tw {
    background: url("../img/icon-twitter.svg") no-repeat center;
  }
  /*-----  End of MODIFICATORS  ------*/
}

@media #{$tablet-widths} {
  .social-block {
    margin-left: 100px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: inline-block;
    vertical-align: top;
    border: none;
  }
}
