.sub-menu {
  margin: 0;
  display: none;
  @include reset-ul;
}

.sub-menu__item {
  padding: 27px 0;
  padding-left: 50px;
}

.sub-menu__link {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  color: #000;
  text-decoration: none;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media #{$desktop-widths} {
  .sub-menu {
    position: absolute;
    top: 79px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-order: 4;
        order: 4;

  .sub-menu__item {
      &:last-child {
        padding-left: 61px;
      }
    }
  }
}
