.text-field {
  margin-bottom: 20px;
  padding: 0;
  border: none;
  border-top: solid 1px #63d1bb;
}

.text-field__group-title {
  margin-left: -4px;
  margin-bottom: 20px;
  padding-right: 20px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;

  &--one-fild {
    margin-bottom: 10px;
  }
}

.text-field__label {
  display: block;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $text-color-title;

  &--green {
    color: #63d1bb;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.text-field__input {
  padding: 10px 0;
  width: 100%;
  display: block;
  border: none;
  border-bottom: solid 2px #000;
}

.text-field__textarea {
  padding: 10px 10px;
  width: 100%;
  resize: none;
  border: solid 2px $text-color-content;
}

@media #{$tablet-widths} {
  .text-field {
    position: relative;
    margin-bottom: 50px;
    padding-left: 217px;
    padding-right: 50px;
    border: none;

    &--tel {
      padding-top: 50px;
      margin-bottom: 0;
      background: #f1f1f1;
    }

    &--email {
      padding-top: 20px;
      padding-bottom: 50px;
      background: #f1f1f1;
    }
  }
  .text-field__group-title {
    margin-left: 0;
    position: absolute;
    top: 0;
    left: 55px;

    &--tel {
      top: 63px;
      left: 55px;
    }

    &--email {
      top: 35px;
      left: 55px;
    }
  }
  .text-field__input {
    display: inline-block;
    vertical-align: top;
    font-size: 19px;

    &--background {
      background: #f1f1f1;
    }
  }
  .text-field__textarea {
    font-size: 19px;
    line-height: 18px;
  }
}

@media #{$desktop-widths} {
  .text-field {
    padding-left: 225px;
    padding-right: 225px;
  }
  .text-field__group-title {
    left: 117px;
  }
}
